#body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.h1, h2, h3, h4 {
    text-align: center;
    color: #CD7C8D;
    font-family:'Brush Script MT, Brush Script Std, cursive';
}





label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: left;
}

input[type="text"], input[type="radio"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-check {
    width: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.form-check input[type="radio"] {
    margin-right: 10px;
}

button, .btn-outline-primary {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.button:hover, .btn-outline-primary:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

button{
    background-color: #f8f9fa;
    color: #007BFF;
    border: 1px solid #007BFF;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-person-grazy:hover {
    background-color: #ffcbdb;
}

.btn-person-grazy{
background-color: #CD7C8D;
--bs-btn-active-bg: #CD7C8D;
}

.form-check-input-person-grazy:checked {
    background-color: #CD7C8D;
    border-color: #CD7C8D;
}

.btn-person-grazy:active {
    background-color: #CD7C8D;
}

.checkbox-person-grazy:checked {
    background-color:  #ffe0ff;
    border-color: #FFFFFF;

}

